body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(189, 132, 132);
}

.container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

header img {
    width: 350px;
    height: auto;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
}

#genreInput{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    background: #800f0d;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background 0.2s;
}

button:hover{
    background: #a00f0d;
}

#recommendations {
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.navbar {
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 60px;
    top: 10px;
    right: 10px;
    border-radius: 8px;
}

.menu-toggle {
    font-size: 24px;
    color: #a00f0d;
    cursor: pointer;
    user-select: none;
}

.menu {
    list-style: none;
    background: black;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li:hover {
    background: #800f0d;
}

.menu li a:hover {
    color: #d8a4a4;
}

.menu.show {
    display: block;
}

.about-us {
    background: black;
    color: #a00f0d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    display: none;
    font-style: sans-serif;
}
